
  @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Oswald:wght@500&display=swap');

.banner {
  background: linear-gradient(to bottom, rgb(36, 39, 55),rgb(11, 11, 27));
  padding: 20vh 0 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 60vh;
  justify-content: center;
}

.tagline{
  border-radius: 17px;
  text-shadow: 0 0 1px;
  color: rgb(225, 229, 243);
  font-family: 'Oswald', sans-serif;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0px 10px;
  font-size: 2rem;
  padding-bottom: 5px;
}

.gl{
  content: "";
    width: 100%;
    height: 3px;
    background-color: #17cf97;
    margin-top: 1vh;
    color: #17cf97;
    box-shadow: 0 0 8px;
}
 

.banner h2{
  color: #17cf97;
  text-shadow: 0 0 13px rgb(7, 131, 106);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  margin-top: 16vh;
}

.banner button{
  color: #fff;

}

.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,  rgb(11, 11, 27) , rgb(39, 31, 93) , rgb(36, 39, 55));
  height: 100vh;
  padding-top: 27vh;


}

.elemcon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flowchart{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 35px;
  margin-right: 2vw;
  background-color: rgb(53, 63, 123) ;
  font-family: 'Oswald', sans-serif;
}
.aboutimg{
  width: 35vw;
  height: 35vh;
}
.techstack{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 35px;
  background-color: rgb(53, 63, 123) ;
  font-family: 'Oswald', sans-serif;
}
p{
  margin: 0px;

}
.underline{
  content: "";
    width: 25%;
    height: 3px;
    background-color: rgb(2, 183, 219);
    margin-top: 1vh;
    color: rgb(2, 183, 219);
    box-shadow: 0 0 8px;

}
.header{
  font-size: 1.5rem;
  color:aliceblue;
}

.dis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(216, 237, 241);
  font-family: 'Oswald', sans-serif;
  margin-bottom: 8vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 35px;
  width: 68vw;
  height: 34vh;
  padding: 2vh 2vw;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(53, 63, 123) ;
}

#new{
  width: 45%;
}

#neww{
  width: 45%;
}

.skill{
  margin-top: 10vh;
  padding-top: 50vh;
  padding: 0 0 50px 0;
  position: relative;
  background: linear-gradient(to bottom,rgb(36, 39, 55),rgb(35, 32, 53),rgb(11, 11, 27) );
}

.skill-bx{

  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h5{
  font-size: 1.2rem;
  font-weight: 700;
  color: antiquewhite;
}

.skill p{
  font-family: 'Oswald', sans-serif;
  color: antiquewhite;
  font-size: 18px;
  padding-top: 0px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img{
  width: 25vw;
  height: 30vh;
  margin-left: 3px;
  margin: 0 auto 15px auto;
}
.skill-bx h2{
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
.shadow{
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 60, 79);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 35px;
  border-radius: 34px;
  margin-bottom: 7vh;
  height: 33vh;

}

.below{
  content:" ";
  width: 10%;
  height: 3px;
  background-color: #17cf97;
  margin-top: 2px;
  color: #17cf97;
  box-shadow: 0 0 8px;
  
}
